@import url('htt[s://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800%display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtjvredfEeW-rfqpTphGnQczQHdaxzMYHvbg&usqp=CAU');
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: cyan;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;

}

.navbar ul li:hover::after{
    width: 100%;

}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    margin: 75px;
    align-items: center;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0.05s;
}

.container .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,gray,gray,black);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
    
}

.container .box:hover .imgBx:before{
    opacity: 1;
    
}

.container .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}

.container .box .content h2{
    color: white;
    transition 0.5s
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}

.container .box:hover .content h2{
    transform: translateY(0);
    transition-delay: 0.5s;
}

.container .box .content p{
    color: white;
    transform: translateY(200px);
    transition: 0.5s;
    font-size: 14px;
}

.container .box:hover .content p{
    transform: translateY(0);
    transition-delay: 0.5s;
}